/* ================= SOBRE ================= */

.sobre {
    padding: 2rem;
}

.sobre .flex {
    width: 60%;
    margin: auto;
    display: flex;
    gap: 2rem;
}

.sobre .img {
    width: 50%;
}

.sobre .txt {
    padding: 5rem 2rem;
}

.sobre .txt p,
.sobre .txt h2,
.sobre .txt span {
    font-size: 1.125rem;
}
